.THIS{
    text-align: center;
}

.THIS label{
    text-align: left !important;
}

.THIS.wrapper{
    
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}